.app.dark {
  --bg-color: #34546f;
  --inverted-bg-color: #d1e0e5;
  --primary-color: #88ccd1;
  --secondary-color: #99e7ed;
  --inverted-primary-color: #101010;
  --inverted-secondary-color: #212121;
}
